.DS_Store

example/bin/*
example/ofxCUPSExample.xcodeproj
example/ofxCUPSExample.xcodeproj/*
example/ofxCUPSExample.xcodeproj/project.xcworkspace/xcuserdata/motoishmz.xcuserdatad/UserInterfaceState.xcuserstate